 <%- include("../partials/header") %>
 <%- include("../partials/sideNavbar") %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Daftar Dokumen</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Daftar Dokumen</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           

            <div class="card">
              <div class="card-header">
               
              <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">

  <!-- JUDUL -->
  <h3 class="card-title mb-2 mb-md-0">
    Data Dokumen
  </h3>
 <% if (canManage) { %>
  <!-- BUTTON -->
  <button class="btn btn-success d-flex align-items-center px-3" id="btn-tambah" data-toggle="modal" data-target="#modal-default">
    <i class="fas fa-plus mr-2"></i>
    Tambahkan Data
  </button>
</div>
<% } %>

              </div>
              <!-- /.card-header -->
          <div class="card-body">
  <div id="table-wrapper"></div>
</div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-lg"> <!-- BISA GANTI modal-lg JIKA MAU -->
    <div class="modal-content">
      
      <div class="modal-header bg-primary">
        <h4 class="modal-title text-white">Form Dokumen</h4>
        <button type="button" class="close text-white" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        
        <form id="formDokumen" enctype="multipart/form-data">
          
          <input type="hidden" id="id_doc" name="id_doc">
          <input type="hidden" id="old_file" name="old_file">
          <input type="hidden" id="id_user" name="id_user" value=" <%= user.id_user %> ">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>No Dokumen</label>
                <input type="text" name="no_doc" id="no_doc" class="form-control" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Tanggal New</label>
                <input type="date" name="tgl_new" id="tgl_new" class="form-control" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Nama Dokumen</label>
                <input type="text" name="nama_doc" id="nama_doc" class="form-control" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Departemen</label>
                <input type="text" name="departemen" id="departemen" class="form-control" required>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Upload File (Excel, PDF, Word)</label>
                <input type="file" name="file" id="file" class="form-control">
                <small class="text-muted">
                  Kosongkan jika tidak ingin mengganti file saat update
                </small>
              </div>
            </div>
            <div class="col-md-12" id="revisiDek" style="display:none;">
              <div class="form-group">
                   <label>Keterangan Revisi</label>
               <textarea name="keterangan" id="revisiForm" class="form-control"></textarea>
              </div>
            </div>

          </div>

        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Batal
        </button>

        <!-- CREATE -->
        <button type="button" id="btnCreate" class="btn btn-primary">
          Simpan
        </button>

        <!-- UPDATE -->
        <button type="button" id="btnUpdate" class="btn btn-warning" style="display:none">
          update
        </button>
      </div>

    </div>
  </div>
</div>
      <!-- /.modal -->
<div class="modal fade" id="modalDetail">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header bg-info">
        <h4 class="modal-title text-white">Detail Dokumen</h4>
        <button type="button" class="close text-white" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">

          <div class="col-md-6">
            <p><b>Nama Dokumen:</b> <span id="d_nama"></span></p>
            <p><b>No Dokumen:</b> <span id="d_no"></span></p>
            <p><b>Departemen:</b> <span id="d_departemen"></span></p>
            <p><b>Tanggal New:</b> <span id="d_tgl_new"></span></p>
          </div>

          <div class="col-md-6">
            <p><b>Uploaded By:</b> <span id="d_uploaded_by"></span></p>
            <p><b>Tanggal Upload:</b> <span id="d_created_at"></span></p>
            <p><b>Terakhir Direvisi:</b> <span id="d_last_revisi"></span></p>
          </div>

        </div>

        <hr>

        <h5>Riwayat Revisi</h5>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No</th>
              <th>Revisi ke</th>
              <th>Direvisi Oleh</th>
              <th>Tanggal</th>
              <th>Keterangan</th>
            </tr>
          </thead>
          <tbody id="revisiBody"></tbody>
        </table>

        <hr>

        <div class="text-right">
          <a id="btnDownload" class="btn btn-success" target="_blank">
            <i class="fas fa-download"></i> Download Dokumen
          </a>
        </div>

      </div>

    </div>
  </div>
</div>

  <%- include("../partials/footer") %>
<script>
 function showDetail(id) {

  $.get('/dokumen/detail/' + id, function(res) {

    const d = res.dokumen;

    $('.modal-title').text('Detail Dokumen');
    $('#d_nama').text(d.nama_doc);
    $('#d_no').text(d.no_doc);
    $('#d_departemen').text(d.departemen);

   $('#d_tgl_new').text(
  new Date(d.tgl_new).toLocaleDateString('id-ID', {
    timeZone: 'Asia/Jakarta',
    day: '2-digit',
    month: 'long',
    year: 'numeric'
  })
);
    $('#d_uploaded_by').text(d.uploaded_by);

    $('#d_created_at').text(
      new Date(d.created_at).toLocaleString('id-ID', {
        timeZone: 'Asia/Jakarta'
      })
    );

    $('#btnDownload').attr('href', '/uploads/' + d.file);

    // Riwayat revisi
    let html = '';
if (res.revisi.length > 0) {

  res.revisi.forEach((r, i) => {
    html += `
      <tr>
        <td>${i+1}</td>
        <td> ${r.no_rev} </td>
        <td>${r.username}</td>
        <td>${new Date(r.tgl).toLocaleString('id-ID', {  timeZone: 'Asia/Jakarta',
          year: 'numeric',
          month: '2-digit',
          day: '2-digit' })}</td>
        <td>${r.keterangan || '-'}</td>
      </tr>
    `;
  });

}
// 🔥 UPDATED_AT dari tabel DOKUMEN
if (d.updated_at) {
  $('#d_last_revisi').text(
    new Date(d.updated_at).toLocaleString('id-ID', {
      timeZone: 'Asia/Jakarta'
    })
  );
} else {
  $('#d_last_revisi').text('-');
}

    $('#revisiBody').html(html);

    $('#modalDetail').modal('show');

  });

}
/* =======================
   MODAL CLEANUP
======================= */
$('#modal-default').on('hidden.bs.modal', function () {

  $('#formDokumen')[0].reset();
  $('#id_doc').val('');

  $('#btnCreate').show();
  $('#btnUpdate').hide();
 // $('#revisiDek').hide();
  
});


/* =======================
   LOAD DATA
======================= */
function loadData() {

  $.get('/dokumen/data', function (res) {

    const data = res.data || res;

    let tableHTML = `
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>No Doc</th>
            <th>Nama Dokumen</th>
            <th>Departemen</th>
            <th>Tanggal</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
    `;

    data.forEach((u, index) => {

      tableHTML += `
        <tr>
          <td>${index + 1}</td>
          <td>${u.no_doc}</td>
          <td>${u.nama_doc}</td>
          <td>${u.departemen}</td>
        <td>
  ${
    u.tgl_new
      ? new Date(u.tgl_new).toLocaleString('id-ID', {
          timeZone: 'Asia/Jakarta',
          year: 'numeric',
          month: '2-digit',
          day: '2-digit'
        })
      : ''
  }
</td>
          <td>
            ${
              u.status === 'NEW'
                ? '<span class="badge bg-danger">NEW</span>'
                : u.status === 'REVISI'
                ? '<span class="badge bg-primary">REVISI</span>'
                : ''
            }
          </td>
          <td>
            <% if (canManage) { %>
            <button class="btn btn-warning btn-sm" onclick="editData(${u.id_doc})">
              Edit
            </button>
            <button class="btn btn-danger btn-sm" onclick="removeData(${u.id_doc})">
              Hapus
            </button>
             <% } %>
            <button class="btn btn-success btn-sm" onclick="showDetail(${u.id_doc})">
              Detail
            </button>
          </td>
        </tr>
      `;
    });

    tableHTML += `</tbody></table>`;

    $('#table-wrapper').html(tableHTML);

    $('#example1').DataTable({
      destroy: true,
      responsive: true,
      autoWidth: false
    });

  });
}


/* =======================
   OPEN CREATE MODAL
======================= */
$('#btn-tambah').click(function () {

  $('#formDokumen')[0].reset();
  $('#id_doc').val('');
  $('#revisiForm').val('');

  $('#btnCreate').show();
  $('#btnUpdate').hide();
  $('#revisiDek').hide();

  $('.modal-title').text('Tambah Dokumen');

  $('#modal-default').modal('show');
});


/* =======================
   EDIT DATA
======================= */
function editData(id) {

  $.get('/dokumen/edit/' + id, function(data) {

    $('#id_doc').val(data.id_doc);
    $('#no_doc').val(data.no_doc);
    $('#nama_doc').val(data.nama_doc);
    $('#departemen').val(data.departemen);
    if (data.tgl_new) {

  const dateObj = new Date(data.tgl_new);

  const formatter = new Intl.DateTimeFormat('sv-SE', {
    timeZone: 'Asia/Jakarta',
    year: 'numeric',
    month: '2-digit',
    day: '2-digit'
  });

  $('#tgl_new').val(formatter.format(dateObj));
}
    $('#old_file').val(data.file);

    $('#btnCreate').hide();
    $('#btnUpdate').show();
    $('#revisiDek').show();

    $('.modal-title').text('Edit Dokumen');

    $('#modal-default').modal('show');
  });

}


/* =======================
   CREATE
======================= */
$('#btnCreate').click(function () { let formData = new FormData($('#formDokumen')[0]); $.ajax({ url: '/dokumen/save', type: 'POST', data: formData, contentType: false, processData: false, beforeSend: function () { Swal.fire({ title: 'Menyimpan...', text: 'Mohon tunggu', allowOutsideClick: false, didOpen: () => { Swal.showLoading(); } }); }, success: function (res) { Swal.fire({ icon: 'success', title: 'Berhasil!', text: 'Data berhasil disimpan', timer: 2000, showConfirmButton: false }); $('#modalDokumen').modal('hide'); $('#formDokumen')[0].reset(); loadData(); }, error: function (err) { Swal.fire({ icon: 'error', title: 'Gagal!', text: 'Terjadi kesalahan saat menyimpan' }); } }); });
/* =======================
   UPDATE
======================= */
$('#btnUpdate').click(function () {

  let id = $('#id_doc').val();

  if (!id) {
    Swal.fire('Error', 'ID tidak ditemukan!', 'error');
    return;
  }

  let formData = new FormData($('#formDokumen')[0]);

  $.ajax({
    url: '/dokumen/update/' + id,
    type: 'PUT',   // WAJIB PUT (Pastikan route backend pakai PUT)
    data: formData,
    contentType: false,
    processData: false,

    beforeSend: function () {
      Swal.fire({
        title: 'Mengupdate...',
        allowOutsideClick: false,
        didOpen: () => Swal.showLoading()
      });
    },

    success: function () {

      Swal.fire({
        icon: 'success',
        title: 'Berhasil!',
        text: 'Data berhasil diupdate',
        timer: 2000,
        showConfirmButton: false
      });

      $('#modal-default').modal('hide');
      loadData();
    },

    error: function () {
      Swal.fire('Gagal!', 'Terjadi kesalahan saat update', 'error');
    }
  });

});


/* =======================
   DELETE
======================= */
function removeData(id) {

  Swal.fire({
    title: 'Yakin?',
    text: 'Data akan dihapus',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Hapus'
  }).then((result) => {

    if (result.isConfirmed) {

      $.ajax({
        url: '/dokumen/delete/' + id,
        type: 'DELETE',
        success: function () {
          Swal.fire('Terhapus', 'Data berhasil dihapus', 'success');
          loadData();
        }
      });

    }

  });
}


/* =======================
   INIT
======================= */
$(document).ready(function () {
  loadData();
});

</script>

